.topnav {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: center;
	background-color: #333;
	align-items: center;
}

.link {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav h3 a {
	padding: 10px;
	border: auto;
	border-radius: 4px;
	margin: 0px 10px;
	text-align: center;
}

.select {
	position: relative;
	min-width: 200px;
	margin-left: 15px;
	margin-right: 15px;
}
.select svg {
	position: absolute;
	right: 12px;
	top: calc(50% - 3px);
	width: 10px;
	height: 6px;
	stroke-width: 2px;
	stroke: #ddd;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	pointer-events: none;
}
.select select {
	-webkit-appearance: none;
	padding: 4px 7px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #ddd;
	box-shadow: 0 1px 3px -2px #9098a9;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	transition: all 150ms ease;
}
.select select:required:invalid {
	color: #5a667f;
}
.select select option {
	color: #223254;
}
.select select option[value=''][disabled] {
	display: none;
}
.select select:focus {
	outline: none;
	border-color: #07f;
	box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.select select:hover + svg {
	stroke: #07f;
}

.link:hover {
	background-color: #ddd;
	color: black;
}

.button {
	border: none;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 4px 2px;
	cursor: pointer;
}

.search input {
	padding: 4px 7px;
	/* margin-top: 8px; */
	/* margin-right: 1px; */
	/* margin-left: auto; */
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.search input:hover {
	background: #ccc;
}
