.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-evenly;

    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}
